*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    border-bottom: 80px;
}
.container{
    height: 100vh;
    width: 100%;
    background: #EAEAEA;
    color: #050404;
    background-size: cover;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    margin-left: -100px;
}
h2{
    color: black;
    margin-left: 200px;
}
.whaite{
    position: relative;
    background-color: #F0F757;
    width: 250px;
    height: 50px;
    margin-left: -10px;
    

}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
    
    
    
    
    
}
nav ul li a{
    color: #12130F;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    transition: transform .4s;
    
}
select{
    border: none;
    background: #EAEAEA;
}
.nd-ul button{
    height: 40px;
    width: 100px;
    border-radius: 12px;
    border: 1px solid #61707D;
    color: #61707D;
    
}
.nd-ul li{
    border: 2px solid #61707D;
    border-radius: 150vh;
}
.nd-ul{
    padding-left: -10px;
}
.heading-div{
    text-align: center;
    margin-top: 60px;
    letter-spacing: 2px;
}
.heading-div p{
    color: #61707D;
    font-size: 18px;
    margin-top: 30px;
}
#Vectors{
    
    height: 33px;
    border-radius: 4px;
    position: absolute;
    
}
input{
   
    height: 33px;
    width: 55vh;
    border: #61707D;
    background: white;
    border-radius: 4px;
    
}
.search-bar{
    text-align: center;
    margin-top: 18px;
    background-color: #EAEAEA;
    
}
input::placeholder{
    color: #61707D;
    text-align: center;
    font-size: 15px;
    letter-spacing: 1px;
}
.search-bar select{
    background-color: white;
    border: 1px solid #61707D;
    color: #61707D;
    width: 80px;
    text-align: center;
}
.search-bar button a{
    color: #61707D;
    font-size: 18px;
    position: relative;
    top: 1px;
    left: -40px;
    
}
.search-bar button{
    border: none;
    
    
}
.semi-main{
    margin-left: 180px;
    margin-top: 50px;
    

}
nav .Premimum{
    color: red;
}
.semi-main li a{
    font-size: 16px;
    font-weight: 600;
    font-family: 'Noto Sans Chorasmian', sans-serif;
}
nav .Free{
    color: #0197F6;
}
nav .down{
    margin-right: 50px;
    
}
nav .down li a:hover{
    color: red;
    transform: translateY(.50s);
}
nav .down li a{
    font-size: 18px;
}
.image-main{
    /* border: 2px solid black; */
    height: 400px;
    display: flex;
    justify-content: center;
    
}
.image{
    /* border: 2px solid red; */
    height: 400px;
    width: 400px;
    border-radius: 25px;
    margin: 5px ;
}
.image{
    background-color: #EAEAEA;
    height: 400px;
    width: 400px;
    border-radius: 25px;
    margin: 5px;
    
}
.image{
    /* border: 2px solid red; */
    height: 400px;
    width: 400px;
    margin: 5px;
}
.iimage img{
    height: 250px;
    width: 300px;
    border-radius: 25px;
    margin-top: 50px;
    margin-left: 30px;
    
}
.text{
    margin-left: -140px;
    margin-top: 12px;
    
}
span{
    font-family: 'ADLaM Display', cursive;
    color: #D7263D;
    font-size: 33px;
    margin-top: -14px;
}
.text h2{
    color: #61707D;
}
.iimgae img{
    height: 250px;
    width: 300px;
    border-radius: 25px;
    margin-top: 50px;
    margin-left: 37px;
}
.text h2{
    display: flex;
    color: #61707D;
    margin-left: -12px;
}
.iimage img{
    height: 250px;
    width: 300px;
    border-radius: 25px;
    margin-top: 50px;
    margin-left: 37px;
}
.text{
    
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    margin: 0px auto;
    
}
.text h2{
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    margin-top: 10px;

}
.link li a{
    color: #050404;
    font-size: 23px;
    font-weight: 700;
    font-family: 'Archivo Black', sans-serif;
    
}
.link li{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-left: 120px;
    margin-top: 15px;
    
}
.link ul li a{
    list-style: none;
    text-decoration: none;
    transition: transform .4s;
}
.link ul li a:hover{
    transform: scale(1.2);
    color: #D7263D;
   
}
nav ul li a:hover{
    transform: scale(1.2);
    color: #06BEE1;
}


